doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Base HTML Dev Template
    link (rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/css/custom.css")
  body
    p All content will be here
